<a href="https://colab.research.google.com/github/karthi234231/FML/blob/main/cross_vakidation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cross validate the Simple Linear Regression and Multiple Linear Regression models

In [29]:
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

#a) Cross Validation on Simple Linear Regression

In [19]:
data = pd.read_csv("Company_data.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [20]:
X = data.drop('Sales', axis=1).values
y = data['Sales'].values

By using the correlation factor the relation in between Sales and Tv is more

In [21]:
x_tv = X[:, 0]

In [22]:
x_tv = x_tv.reshape(-1,1)
y = y.reshape(-1, 1)

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_tv,y,test_size=0.2,random_state=42)

In [24]:
lm = LinearRegression()

#KFold Cross Validation

In [25]:
folds = KFold(n_splits = 5, shuffle = True, random_state = 100)
scores = cross_val_score(lm, X_train, y_train, scoring='neg_mean_squared_error',cv=folds)
sqrt(mean(absolute(scores)))

2.2565669707801552

**CONCLUSION :** The root mean squared error (RMSE) was 2.256. The lower the RMSE, the more
closely a model is able to predict the actual observations.

#b) Cross Validation on Multiple Linear Regression

In [26]:
df = pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [30]:
x = df.drop('Profit', axis=1).values
y1 = df['Profit'].values
X=df.select_dtypes(include=np.number)

In [31]:
from sklearn.model_selection import train_test_split
X_train1,X_test1,y_train1,y_test1=train_test_split(X,y1,test_size=0.2,random_state=42)

In [32]:
model = LinearRegression()

#KFold Cross Validation

In [33]:
fold = KFold(n_splits = 5, shuffle = True, random_state = 1)
score = cross_val_score(model,X_train1,y_train1,scoring='neg_mean_squared_error',cv=folds)
sqrt(mean(absolute(score)))

2.1583978340191718e-11

**CONCLUSION :**  The root mean squared error (RMSE) was 2.55e^-11. The lower the RMSE, the
more closely a model is able to predict the actual observations.